{% extends 'base.html' %}

{% block title %}
    {{ horoskop.znak | capfirst  }}
{% endblock %}


{% block content %}


      <!-- <div id="spinner" class="">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div> -->
    <h2>{{ horoskop.znak | capfirst }}</h2>
    <h3>Dnevni:</h3>
    <p>{{ horoskop.dnevni }}</p>
    <hr>
    <h3>Nedeljni:</h3>
    <p>{{ horoskop.nedeljni }}</p>
    <hr>
    <h3>Mesecni:</h3>
    <p>{{ horoskop.mesecni }}</p>
    <hr>
    <h3>Godisnji:</h3>
    <p>{{ horoskop.godisnji }}</p>

{% endblock %}